 main h1{
    font-size:60px;
    background-color:rgb(120,30,60);
    color:#FAFFFA;
    text-align:center;
    font-family:'Arial';
    padding:20px; /*element inner space*/
    text-transform:uppercase;
   } 

main a{
   color:#851944;
}

 h2{
   font-size:40px;
   font-family:'Open Sans', sans-serif;
   clear: both;
  }

  p{
   text-align: justify;
   margin:30px 0;
  }

  blockquote{
   background-color:#D3DDDA;
   padding: 16px;
   border:10px solid #C2CCCA; 
   width:250px; 
   margin:0;/*space outside the element*/
   box-sizing:border-box;
   float: right;
  }

  strong{
     font-weight: 600;
  }

  em{
     font-style:italic;
  }

  aside, img{
     background-color: #3C1D3D;
     color:#F2FFFC;
     text-align:center;
     padding:20px;
     font-family:"Open Sans Condensed", sans-serif;
     float: right;
     width: 15%;
  }

  nav h1{
     font-size:30px;
     margin-bottom:25px;
  }

  nav a{
     color:inherit;
     text-transform:lowercase;
  }

  .icones-sociais li{
      display:inline-block;
  }

  .icones-sociais a{
   width:40px;
   height:40px;
   display:inline-block;
   text-indent:-99999px;
  }

  footer{
     background-color:#000;
     color:#F2FFFC;
     padding:20px;
  }

  .github{
     background-image: url("github.png");
  }

  .twitter{
   background-image: url("twitter.png");
}

.linkedin{
   background-image: url("linkedin.png");
}

.fiat{
  float: right;
  margin-left: 40px;
}

.petrobras{
 float: left; 
 margin-right: 40px;
}

aside, 
.minha-foto{
   float: right; 
   box-sizing:border-box;
   border-left: 10px solid black;
}

aside{
   clear: right;
   position: relative;
   top:310px;
   width:15%;
}

main{
   float: left;
   width: 85%;
 }

 footer{
    clear: both;
    position:absolute;
    bottom:0;
    width: 100%;
 }

 cite{
    font-style: italic;
    float:right;
 }

.minha-foto{
   position: absolute;
   top:0;
   right:0;
}